/*
 * Twitter specific styles
 */

/*
 * All texts & background colors inside these selectors will be hidden
 * ie they will have black text color on black background
 */
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="User-Names"],
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid^=UserAvatar],
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid^=UserAvatar]+div,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[href^='/'],
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="SideNav_AccountSwitcher_Button"],
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="UserCell"],
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="UserName"],
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="UserUrl"],
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="sidebarColumn"] a,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>h2,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="UserDescription"],
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="UserDescription"]+div,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="UserDescription"]+div+div,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="conversation"],
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="thumbnail"],
.twitter-anonymizer-anonymized {
    background-color: #404040;
    color: #404040 !important;
}

/* Child elements of previous filters texts are black too */
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="User-Names"] *,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid^=UserAvatar] *,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid^=UserAvatar]+div *,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[href^='/'] *,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="SideNav_AccountSwitcher_Button"] *,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="UserCell"] *,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="UserName"] *,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="UserUrl"] *,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="sidebarColumn"] a *,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="UserDescription"] *,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="UserDescription"]+div *,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="UserDescription"]+div+div *,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="conversation"] *,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="thumbnail"] *,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>h2 * {
    background-color: #404040;
    color: #404040 !important;
}

/* Rounded images */
body.twitter-anonymizer [data-testid^=UserAvatar] {
    border-radius: 9999px;
}

/* hidden images */
body.twitter-anonymizer [data-testid^=UserAvatar] *,
body.twitter-anonymizer [href^='/'] [src$='.svg'],
body.twitter-anonymizer [data-testid^=UserAvatar]+div [src$='.svg'],
body.twitter-anonymizer [data-testid="SideNav_AccountSwitcher_Button"] [src$='.svg'],
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="sidebarColumn"] img,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>h2 img,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="UserDescription"] img,
body.twitter-anonymizer :not(nav[aria-label="Principal"])>[data-testid="conversation"] * {
    visibility: hidden;
}

/*
     * Tweetdeck specific styles
     */
body.twitter-anonymizer span.fullname,
body.twitter-anonymizer a.account-link,
body.twitter-anonymizer a.other-replies-link,
body.twitter-anonymizer span.link-complex-target,
body.twitter-anonymizer p.account-bio,
body.twitter-anonymizer p.account-bio a {
    background-color: #404040;
    color: #404040 !important;
}

body.twitter-anonymizer img.avatar,
body.twitter-anonymizer p.account-bio img,
body.twitter-anonymizer a.account-link img {
    filter: brightness(0);
}