body.twitter-anonymizer [data-testid="User-Names"],
body.twitter-anonymizer [data-testid^=UserAvatar],
body.twitter-anonymizer [data-testid^=UserAvatar]+div,
body.twitter-anonymizer [href^='/'],
body.twitter-anonymizer [data-testid="SideNav_AccountSwitcher_Button"],
body.twitter-anonymizer [data-testid="UserCell"],
body.twitter-anonymizer [data-testid="UserName"],
body.twitter-anonymizer [data-testid="UserUrl"],
.twitter-anonymizer-anonymized {
    background-color: black !important;
    color: black !important;
}

body.twitter-anonymizer [data-testid^=UserAvatar] {
    border-radius: 9999px;
}

body.twitter-anonymizer [data-testid="User-Names"] *,
body.twitter-anonymizer [data-testid^=UserAvatar] *,
body.twitter-anonymizer [data-testid^=UserAvatar]+div *,
body.twitter-anonymizer [href^='/'] *,
body.twitter-anonymizer [data-testid="SideNav_AccountSwitcher_Button"] *,
body.twitter-anonymizer [data-testid="UserCell"] *,
body.twitter-anonymizer [data-testid="UserName"] *,
body.twitter-anonymizer [data-testid="UserUrl"] * {
    color: black !important;
}

body.twitter-anonymizer [data-testid^=UserAvatar] *,
body.twitter-anonymizer [href^='/'] [src$='.svg'],
body.twitter-anonymizer [data-testid^=UserAvatar]+div [src$='.svg'],
body.twitter-anonymizer [data-testid="SideNav_AccountSwitcher_Button"] [src$='.svg'] {
    visibility: hidden;
}